@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

._icon-close-right:after {
  content: "\e904";
}

._icon-arrow-link:after {
  content: "\e902";
}

._icon-play:after {
  content: "\e90b";
}

.container {
  width: 100%;
  max-width: 832px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1720px;
    padding: 0 72px;
  }
}

body {
  color: var(--colors-dark-beige-20);
  line-height: 1;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--colors-dark-beige-20);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?ik6do7") format("woff"), url("../fonts/icons.svg?ik6do7#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class^=_icon-]::after,
[class*=" _icon-"]::before,
[class*=" _icon-"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-alert:before {
  content: "\e900";
}

._icon-arrow-down:before {
  content: "\e901";
}

._icon-arrow-link:before {
  content: "\e902";
}

._icon-burger:before {
  content: "\e903";
}

._icon-close:before {
  content: "\e904";
}

._icon-dark-theme:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-instagram:before {
  content: "\e907";
}

._icon-light-theme:before {
  content: "\e908";
}

._icon-linkedin:before {
  content: "\e909";
}

._icon-message:before {
  content: "\e90a";
}

._icon-play:before {
  content: "\e90b";
}

._icon-slider-arrow-left:before {
  content: "\e90c";
}

._icon-slider-arrow-right:before {
  content: "\e90d";
}

._icon-star:before {
  content: "\e90e";
}

._icon-youtube:before {
  content: "\e90f";
}

/* babolar-theme */
:root {
  /* light */
  /* color */
  --colors-base-black-100: #000000;
  --colors-base-white-100: #ffffff;
  --colors-dark-100: #181615;
  --colors-dark-20: #d0d0d0;
  --colors-dark-40: #a2a1a1;
  --colors-dark-60: #747372;
  --colors-dark-80: #464443;
  --colors-dark-beige-100: #b39f93;
  --colors-dark-beige-20: #efebe9;
  --colors-dark-beige-40: #e0d8d3;
  --colors-dark-beige-60: #d1c5be;
  --colors-dark-beige-80: #c2b2a8;
  --colors-dark-brown-100: #403a38;
  --colors-dark-brown-20: #d8d7d7;
  --colors-dark-brown-40: #b2b0af;
  --colors-dark-brown-60: #8c8887;
  --colors-dark-brown-80: #66615f;
  --colors-light-100: #efebe9;
  --colors-light-20: #fbfbfa;
  --colors-light-40: #f8f7f6;
  --colors-light-60: #f5f3f1;
  --colors-light-80: #f2efed;
  /* number */
  --fonts-size-10: 0.625rem;
  --fonts-size-12: 0.75rem;
  --fonts-size-14: 0.875rem;
  --fonts-size-16: 1rem;
  --fonts-size-20: 1.25rem;
  --fonts-size-25: 1.5625rem;
  --fonts-size-32: 2rem;
  --fonts-size-40: 2.5rem;
  --fonts-size-64: 4rem;
  /* string */
  --fonts-family-poppins: poppins;
  --fonts-weight-bold: bold;
  --fonts-weight-light: light;
  --fonts-weight-medium: medium;
  --fonts-weight-regular: regular;
  --fonts-weight-semibold: semibold;
}

/* dark */
/* color */
.dark-theme {
  --colors-base-black-100: #ffffff;
  --colors-base-white-100: #000000;
  --colors-dark-100: #d0d0d0;
  --colors-dark-20: #464443;
  --colors-dark-40: #464443;
  --colors-dark-60: #747372;
  --colors-dark-80: #a2a1a1;
  --colors-dark-beige-100: #b39f93;
  --colors-dark-beige-20: #181615;
  --colors-dark-beige-40: #c2b2a8;
  --colors-dark-beige-60: #d1c5be;
  --colors-dark-beige-80: #e0d8d3;
  --colors-dark-brown-100: #d8d7d7;
  --colors-dark-brown-20: #403a38;
  --colors-dark-brown-40: #66615f;
  --colors-dark-brown-60: #8c8887;
  --colors-dark-brown-80: #b2b0af;
  --colors-light-100: #fbfbfa;
  --colors-light-20: #efebe9;
  --colors-light-40: #f2efed;
  --colors-light-60: #f5f3f1;
  --colors-light-80: #f8f7f6;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.btn {
  font-family: "Poppins", sans-serif;
  color: var(--colors-dark-20);
  font-size: var(--fonts-size-12);
  background: var(--colors-dark-brown-100);
  border: 1.5px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s;
  padding: 14px 8px;
}
.btn::before, .btn::after {
  font-size: 16px;
  transition: all 0.4s;
}
.btn:hover {
  border-color: var(--colors-dark-beige-100);
  background: var(--colors-dark-brown-80);
}
.btn:active {
  background: var(--colors-dark-100);
  border-color: transparent;
}

.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.contact-info__box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.contact-info__box a {
  color: var(--colors-dark-80);
  font-size: var(--fonts-size-14);
  text-decoration: none;
  font-weight: 300;
  line-height: 1.55;
  transition: all 0.4s;
}
.contact-info__box a:hover {
  color: var(--colors-dark-beige-100);
}
.contact-info__box a:active {
  color: var(--colors-dark-100);
}
@media (min-width: 1280px) {
  .contact-info__box a {
    font-size: var(--fonts-size-16);
  }
}
.contact-info__subtitle {
  color: var(--colors-dark-beige-100);
  font-size: var(--fonts-size-10);
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
@media (min-width: 1280px) {
  .contact-info__subtitle {
    font-size: var(--fonts-size-12);
    letter-spacing: 0.36px;
  }
}
.contact-info__title {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-14);
  font-weight: 700;
  line-height: 1.3;
}
@media (min-width: 1280px) {
  .contact-info__title {
    font-size: var(--fonts-size-16);
    line-height: 1.25;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.social-icons a {
  display: inline-block;
  color: var(--colors-dark-100);
  font-size: 0;
  border-radius: 4px;
  border: 1.5px solid transparent;
  transition: all 0.4s;
  outline: none;
  padding: 7px;
}
.social-icons a:hover {
  color: var(--colors-dark-beige-100);
  border-color: var(--colors-dark-beige-60);
}
.social-icons a:active {
  color: var(--colors-dark-100);
  border-color: var(--colors-dark-100);
}
.social-icons a::before {
  font-size: 20px;
}

.theme-toggle.light, .theme-toggle.dark {
  background-color: transparent;
  font-size: 0;
  color: var(--colors-dark-100);
  border-radius: 4px;
  border: 1.5px solid transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
  padding: 8px;
}
@media (min-width: 1280px) {
  .theme-toggle.light, .theme-toggle.dark {
    font-size: var(--fonts-size-12);
    font-weight: 500;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    padding: 6px 15px;
  }
  .theme-toggle.light::before, .theme-toggle.dark::before {
    display: none;
  }
}
.theme-toggle.light::before, .theme-toggle.dark::before {
  font-size: 20px;
  transition: all 0.4s;
}
.theme-toggle.light:hover, .theme-toggle.dark:hover {
  border: 1.5px solid var(--colors-dark-beige-60);
  outline: none;
  color: var(--colors-dark-beige-100);
}
.theme-toggle.light:active, .theme-toggle.light.active, .theme-toggle.dark:active, .theme-toggle.dark.active {
  border: 1.5px solid var(--colors-dark-100);
  color: var(--colors-dark-100);
}

html.dark-theme .logo-black {
  display: none;
}
html.dark-theme .logo-white {
  display: block;
}

.logo-black {
  display: block;
}

.logo-white {
  display: none;
}

.title-box {
  display: flex;
  flex-direction: column;
}
.title-box__title {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-32);
  font-weight: 500;
  line-height: 1.1;
}
@media (min-width: 1280px) {
  .title-box__title {
    font-size: var(--fonts-size-40);
  }
}
.title-box__text-holder {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-14);
  font-weight: 300;
  line-height: 1.55;
}
@media (min-width: 1280px) {
  .title-box__text-holder {
    font-size: var(--fonts-size-16);
    font-weight: 300;
    line-height: 1.55;
  }
}
.title-box__text-holder p:not(:last-child) {
  margin-bottom: 24px;
}

.notification {
  background: var(--colors-dark-100);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  border-radius: 4px;
  background-position-x: -1000%;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 40px;
  margin: 4px;
}
@media (min-width: 1280px) {
  .notification {
    padding: 4px 8px 4px 40px;
    background-position-x: -350px;
    background-size: 1920px 100%;
  }
}
@media (min-width: 1500px) {
  .notification {
    background-position-x: -150px;
  }
}
@media (min-width: 1800px) {
  .notification {
    background-position-x: -80px;
  }
}
.notification__left-col {
  min-width: 256px;
  flex: 1 0 0;
}
.notification__text-box {
  position: relative;
}
.notification__text-box._icon-alert::before {
  position: absolute;
  left: -32px;
  top: 0;
  font-size: 24px;
}
.notification__title {
  font-size: var(--fonts-size-12);
  color: var(--colors-dark-brown-20);
  font-weight: 500;
  line-height: 1.55;
}
.notification__text-holder {
  color: var(--colors-dark-brown-20);
  font-size: var(--fonts-size-10);
  font-weight: 300;
  line-height: 1.55;
}
.notification__right-col {
  min-width: 260px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.notification__close {
  color: var(--colors-dark-20);
  font-family: "Poppins", sans-serif;
  font-size: var(--fonts-size-12);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  padding: 18px 8px;
}
.notification__close::after {
  font-size: 12px;
}
@media (min-width: 1280px) {
  .notification__close::after {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .notification__close {
    font-size: 0;
    padding: 14px 8px;
  }
}

.header {
  padding: 12px 16px;
}
@media (min-width: 1280px) {
  .header {
    padding: 16px 72px;
  }
}
.header .container {
  max-width: 100%;
  padding: 0;
}
.header__logo {
  font-size: 0;
}
@media (min-width: 1280px) {
  .header__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    display: block;
    max-width: 200px;
    min-width: 200px;
    height: auto;
  }
}
.header__menu {
  background: var(--colors-dark-brown-20);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: 100%;
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  overflow: auto;
  transition: right 0.6s;
  border-radius: 4px;
  padding: 48px 64px 24px;
}
.header__menu.active {
  right: 0;
}
@media (min-width: 1280px) {
  .header__menu {
    max-width: 376px;
  }
}
.header__contact .contact-info__box {
  text-align: center;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left-col {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 1280px) {
  .header__left-col {
    gap: 48px;
  }
}
.header__right-col {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1280px) {
  .header__right-col {
    gap: 8px;
  }
}
.header__right-col .btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--colors-dark-100);
  padding: 11px 12px;
}
.header__right-col .btn span {
  display: none;
}
.header__right-col .btn::before {
  font-size: 16px;
}
@media (min-width: 1280px) {
  .header__right-col .btn span {
    display: block;
  }
}

.menu-burger {
  cursor: pointer;
  padding: 7.5px 8px;
}
.menu-burger::before {
  font-size: 32px;
  color: var(--colors-dark-100);
}
.menu-burger span {
  display: none;
}
@media (min-width: 1280px) {
  .menu-burger {
    color: var(--colors-dark-100);
    font-size: var(--fonts-size-12);
    font-weight: 500;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;
    outline: none;
    transition: all 0.4s;
    border-radius: 4px;
    border: 1.5px solid transparent;
  }
  .menu-burger span {
    display: block;
  }
  .menu-burger:hover {
    color: var(--colors-dark-beige-100);
    border-color: var(--colors-dark-beige-60);
  }
  .menu-burger:hover::before {
    color: var(--colors-dark-beige-100);
  }
  .menu-burger:active {
    color: var(--colors-dark-100);
    border-color: var(--colors-dark-100);
  }
  .menu-burger:active::before {
    color: var(--colors-dark-100);
  }
}

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 18px;
  right: 26px;
  width: 32px;
  height: 32px;
  color: var(--colors-dark-100);
}
.menu-close::before {
  font-size: 32px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  row-gap: 16px;
}

.menu-item a {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-12);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition: all 0.4s;
  padding: 17px 16px;
  border-radius: 4px;
  border: 1.5px solid transparent;
}
.menu-item a:hover {
  color: var(--colors-dark-beige-100);
  border-color: var(--colors-dark-beige-60);
}
.menu-item a:active {
  color: var(--colors-dark-100);
  border-color: var(--colors-dark-100);
}

.two-block {
  padding: 32px 0;
}
@media (min-width: 1280px) {
  .two-block {
    padding: 96px 0;
  }
}
.two-block__row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}
@media (min-width: 1280px) {
  .two-block__row {
    gap: 48px;
  }
}

.box-two-block {
  position: relative;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  min-width: 288px;
  min-height: 376px;
  border-radius: 4px;
  overflow: hidden;
  padding: 24px;
}
@media (min-width: 1280px) {
  .box-two-block {
    min-width: 676px;
    min-height: 476px;
    padding: 48px;
  }
}
.box-two-block__bg-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.box-two-block__bg-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box-two-block__bg-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-two-block__title {
  font-size: var(--fonts-size-25);
  font-weight: 500;
  line-height: 1.25;
  width: 100%;
  max-width: 335px;
}
@media (min-width: 1280px) {
  .box-two-block__title {
    max-width: 376px;
  }
}
.box-two-block__text-holder {
  font-size: var(--fonts-size-16);
  font-weight: 300;
  line-height: 1.55;
  width: 100%;
  max-width: 335px;
}
@media (min-width: 1280px) {
  .box-two-block__text-holder {
    max-width: 376px;
  }
}
.box-two-block:nth-child(odd) .box-two-block__title,
.box-two-block:nth-child(odd) .box-two-block__text-holder {
  color: #181615;
}
.box-two-block:nth-child(odd) .box-two-block__bg-holder::before {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.box-two-block:nth-child(even) .box-two-block__title,
.box-two-block:nth-child(even) .box-two-block__text-holder {
  color: #fbfbfa;
}
.box-two-block:nth-child(even) .box-two-block__bg-holder::before {
  background: linear-gradient(270deg, rgba(64, 58, 56, 0) -29.85%, #403a38 102.97%);
}

.about {
  padding: 24px 0;
}
.about__content {
  background: var(--colors-base-white-100);
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  padding: 24px 16px;
}
@media (min-width: 1280px) {
  .about__content {
    padding: 64px;
  }
}
.about__top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 48px;
}
@media (min-width: 1280px) {
  .about__top {
    gap: 96px;
  }
}
.about__title-box {
  gap: 24px;
  min-width: 256px;
  flex: 1 0 0;
}
@media (min-width: 1280px) {
  .about__title-box {
    gap: 32px;
    min-width: 276px;
    max-width: 376px;
  }
}
.about__video-holder {
  height: 276px;
  min-width: 256px;
  flex: 1 0 0;
  position: relative;
}
@media (min-width: 1280px) {
  .about__video-holder {
    height: 476px;
  }
}
.about__video-holder .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__video-holder .btn::before {
  display: none;
}
.about__video-holder video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.item-about {
  position: relative;
  min-width: 256px;
  min-height: 128px;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
}
.item-about:hover .item-about__title {
  transform: translateY(1000%);
}
.item-about:hover .item-about__bg-holder::before {
  background: transparent;
}
.item-about__title {
  color: var(--colors-light-20);
  text-align: right;
  font-size: var(--fonts-size-20);
  font-weight: 500;
  line-height: 1.3;
  transition: all 0.5s;
  position: relative;
  z-index: 5;
}
.item-about__bg-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.item-about__bg-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 58, 56, 0.5);
  transition: all 0.4s;
}
.item-about__bg-holder img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews {
  padding: 64px 0;
}
@media (min-width: 1280px) {
  .reviews {
    padding: 128px 0;
  }
}
.reviews__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1280px) {
  .reviews__container {
    flex-direction: row;
    gap: 124px;
  }
}
.reviews__title-box {
  gap: 16px;
}
@media (min-width: 1280px) {
  .reviews__title-box {
    gap: 32px;
    position: sticky;
    top: 0;
    max-width: 576px;
    flex: 1 0 0;
    padding-top: 96px;
  }
}
.reviews__right-col {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (min-width: 1280px) {
  .reviews__right-col {
    flex: 1 1 0;
  }
}
.reviews__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.reviews .btn {
  padding: 17px 16px;
  width: 100%;
}

.card-reviews {
  background: var(--colors-dark-brown-20);
  border-radius: 4px;
  min-width: 256px;
  flex: 1 0 0;
  padding: 16px;
}
.card-reviews__header {
  display: flex;
  justify-content: space-between;
}
.card-reviews__header:not(:last-child) {
  margin-bottom: 16px;
}
.card-reviews__left-col {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card-reviews__info-box {
  display: flex;
  flex-direction: column;
}
.card-reviews__avatar-holder {
  width: 100%;
  max-width: 32px;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}
.card-reviews__avatar-holder img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-reviews__name {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-10);
  font-weight: 500;
  line-height: 1.55;
}
.card-reviews__date {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-10);
  font-weight: 300;
  line-height: 1.55;
}
.card-reviews__rate {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffd233;
}
.card-reviews__rate span {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-10);
  font-weight: 500;
  line-height: 1.55;
}
.card-reviews__text-holder {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-14);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  align-self: stretch;
  font-weight: 300;
  line-height: 1.55;
}
.card-reviews__link {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-12);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  text-decoration: none;
  justify-content: flex-end;
  font-weight: 500;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}
.card-reviews__link::before {
  display: none;
}
.card-reviews__link::after {
  font-size: 20px;
}

.logos {
  padding: 32px 0;
}
@media (min-width: 1280px) {
  .logos {
    padding: 96px 0;
  }
}
.logos__title {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-25);
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
}
.logos__title:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 1280px) {
  .logos__title:not(:last-child) {
    margin-bottom: 24px;
  }
}
.logos__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media (min-width: 1280px) {
  .logos__row {
    gap: 24px;
  }
}
.logos__image-holder {
  width: 100%;
  max-width: 125px;
  height: auto;
}
.logos__image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1280px) {
  .logos__image-holder {
    max-width: 176px;
  }
}

.footer {
  padding: 64px 0 16px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.footer__top {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 24px;
}
@media (min-width: 1280px) {
  .footer__top {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__left-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1280px) {
  .footer__left-col {
    width: 100%;
    max-width: 394px;
    justify-content: space-between;
  }
}
.footer__left-col .btn {
  padding: 13px 8px;
}
@media (min-width: 1280px) {
  .footer__left-col .btn {
    padding: 17px 16px;
  }
}
.footer__title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
@media (min-width: 1280px) {
  .footer__title-box {
    width: 100%;
    max-width: 276px;
    align-items: flex-start;
  }
}
.footer__title {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-20);
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
}
.footer__title span {
  color: var(--colors-dark-beige-100);
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: var(--fonts-size-25);
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
  }
}
.footer__menu .menu {
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.footer__menu .menu-item a {
  padding: 17px 8px;
}
@media (min-width: 1280px) {
  .footer__menu .menu-item a {
    padding: 17px 15px;
  }
}
.footer__right-col {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 1280px) {
  .footer__right-col {
    flex: 1 0 0;
    max-width: 976px;
  }
}
.footer__contact {
  min-width: 288px;
  flex: 1 0 0;
  text-align: center;
}
@media (min-width: 1280px) {
  .footer__contact {
    text-align: left;
    max-width: 276px;
    min-width: auto;
  }
}
@media (min-width: 1280px) {
  .footer__contact .social-icons {
    justify-content: flex-start;
  }
}
.footer__map {
  min-width: 288px;
  flex: 1 0 0;
  height: 276px;
}
@media (min-width: 1280px) {
  .footer__map {
    height: 376px;
  }
}
.footer__map iframe {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 1280px) {
  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__copyright {
  color: var(--colors-dark-100);
  font-size: var(--fonts-size-10);
  text-align: center;
  font-weight: 300;
  line-height: 1.55;
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: var(--fonts-size-12);
    text-align: left;
  }
}
.footer__additional-menu .menu-item a {
  padding: 7px;
}

.bottom-footer .menu {
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (min-width: 1280px) {
  .bottom-footer__left-col {
    width: 100%;
    max-width: 476px;
  }
}/*# sourceMappingURL=style.css.map */