* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::before,
*::after {
	display: inline-block;
}

html,
body {
	height: 100%;
	font-size: 16px;
}

._icon-close-right:after {
	content: '\e904';
}

._icon-arrow-link:after {
	content: '\e902';
}

._icon-play:after {
	content: '\e90b';
}

.container {
	width: 100%;
	max-width: 832px;
	padding: 0 16px;
	margin: 0 auto;

	@media (min-width: $pc) {
		width: 100%;
		max-width: $containerWidth;
		padding: 0 72px;
	}
}

body {
	color: var(--colors-dark-beige-20);
	line-height: 1;
	font-family: $fontFamily;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--colors-dark-beige-20);
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}